/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

    
}

header {
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 5px 20px 5px;
    display: flex;
    justify-content: space-between;
}

header img {
    justify-content: flex-start;
}

nav {
    justify-content: flex-end;
    align-self: center;
}


nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    height: 100vh;
    min-height: 600px;
    display: flex;
    font-size: 2em;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

#about {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}

#about h2 {
    align-self: flex-start;
    
}

.title {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#projects {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    
}

.project {
    width: 30%;
    padding: 10px;
    border: 1px solid black;
}
.grid-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.component {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

/* Title at the top */
.component h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Rows */
.row {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 20px;
}

/* Image on the left */
.row img {
    max-width: 100%;
    height: auto;
}

/* Content on the right */
.row p {
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}